.container {
  position: relative;
  z-index: 20;
  width: 100%;
  max-width: 1024px;
  min-height: 400px;
  height: auto;
  border-radius: 1rem;
  overflow: hidden;
}

.formWrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.posters{
  width: 100vw;
}

.leftSide {
  width: 50%;
  position: relative;
  display: block;
}

.rightSide {
  width: 40%;
  backdrop-filter: blur(20px);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
}

.mask{
  z-index: 20;
  position: absolute;
  width: 100dvw;
  height: 100dvh;
}

@media (max-width: 768px) {
  .formWrapper {
    flex-direction: column;
  }

  .leftSide {
    display: none;
  }

  .rightSide {
    width: 100%;
    padding: 2rem;
  }
}
